* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'eve_alpha';
    src: url('../fonts/eve-webfont.woff2') format('woff2'), url('../fonts/eve-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

#content-grid {
    display: table;
    width: 100%;
    height: 100%;
}

#content-row {
    display: table-row;
}

/*** NeoCom ***/
#neocom {
    position: fixed;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    background-image: linear-gradient(to right, #38564933 40%, #38564977 100%);
}

.neocom-item {
    position: relative;
    display: block;
    height: 3em;
    transition: all .3s ease-in-out;
}

    .neocom-item.active {
        background: rgba(160, 234, 228, 0.2);
        box-shadow: inset 0 0 5px rgba(160,234,228,0.3);
    }

    .neocom-item:hover {
        cursor: pointer;
    }

    .neocom-item > a {
        display: block;
        padding: 0.25em 0em;
    }

    .neocom-item span.icon {
        display: block;
        width: 2.5em;
        height: 2.5em;
        margin: auto;
        transition: all .2s ease-in-out;
    }

    .neocom-item span.overlay {
        position: absolute;
        display: block;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all .3s ease-in-out;
    }

    .neocom-item:hover span.overlay {
        background: rgba(255,255,255,0.13);
    }

#neocom-login {
    width: 3em;
    height: 1.8em;
    padding: 0;
}

    #neocom-login span.icon {
        width: 1.8em;
        height: 1.8em;
        background: url("../images/neocom/icons/neocom-login.png");
        background-size: contain;
    }

#neocom-character {
    padding: 0;
}

    #neocom-character span.icon {
        width: 100%;
        height: 100%;
        background: url("../images/neocom/character-icon.png");
        background-size: contain;
    }

#neocom-skillqueue {
    height: 0.5em;
    border: 1px solid rgba(255,255,255,0.2);
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
}

    #neocom-skillqueue:hover {
        border-color: rgba(255,255,255,0.33);
    }

#neocom-market span.icon {
    background: url("../images/neocom/icons/neocom-market.png");
    background-size: contain;
}

#neocom-market:hover span.icon {
    background: url("../images/neocom/icons/neocom-market-hover.png");
    background-size: contain;
}

#neocom-agency span.icon {
    background: url("../images/neocom/icons/neocom-agency.png");
    background-size: contain;
}

#neocom-agency:hover span.icon {
    background: url("../images/neocom/icons/neocom-agency-hover.png");
    background-size: contain;
}

#neocom-pi span.icon {
    background: url("../images/neocom/icons/neocom-pi.png");
    background-size: contain;
}

#neocom-pi:hover span.icon {
    background: url("../images/neocom/icons/neocom-pi-hover.png");
    background-size: contain;
}

#gametime {
    position: absolute;
    bottom: 0;
    padding: 0.25em 0em;
    width: 100%;
    font-family: 'Courier';
    font-size: 11px;
    text-align: center;
    color: #ddd;
    background: rgba(0,0,0,0.66);
    transition: all .3s ease-in-out;
}

    #gametime:hover {
        background: rgba(51,51,51,0.66);
        cursor: pointer;
    }

    #gametime span {
        vertical-align: sub;
    }

/*** Content ***/
#content {
    position: relative;
    display: block;
    margin-left: 48px;
    vertical-align: top;
    width: calc(100% - 48px);
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

#content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(16, 24, 21, 0.50)
}
#content::-webkit-scrollbar-track {
    border: 1px solid rgba(16, 24, 21, 0.50);
    background-color: rgba(16, 24, 21, 0.50);
}

#content::-webkit-scrollbar-thumb {
    background-color: rgba(66, 101, 86, 0.50);
}

.page-title {
    color: #fff;
}

/*** Status styles ***/
.hidden {
    display: none;
}